<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="info">
                <p>Av. Millán 1010</p>
                <p>Montevideo, Uruguay</p>
                <p>2322 0101 - 092222222</p>
                <p>Horario: Lun - Vie / 09:00 - 20:00, Sáb / 10:00 - 13:00</p>
            </div>

            <div class="logosRS">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <app-footer-subscription></app-footer-subscription>
        </div>
    </div>
    <div class="row">
        <span>
            <p class="text-center">@ 2021 Librería Millán. Todos los derechos reservados</p>
            <p class="text-center">Página creada por <a href="https://github.com/brianmontero" target="_blank">Brian Montero</a></p>
        </span>
    </div>
</div>