<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <p id="primerParrafo">Librería Millán nació el 13 de marzo de 1994, cuando Marcelo Pérez
            y su esposa, María Hernández, decidieron llevar su pasión por la literatura
            a otro nivel. Luego de que ambos se dieran cuenta de la poca cantidad de librerías
            que había en el barrio y la poca variedad de géneros que contenían, Marcelo y María
            se propusieron ser una de las librerías más grandes y diversas de Montevideo.
        </p>
    </div>
    <div class="row" id="filaUno">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card">
                <img src="../../../assets/marcelomaria.jpg" class="card-img-top" alt="...">
                <div class="card-footer">
                    <p>Marcelo y María, fundadores de Librería Millán</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p id="segundoParrafo" class="d-flex justify-content-center">En 1998 la librería dio un paso sustancial y fundamental para su historia,
            La mudanza a la calle Millán 1010 significó la expansión de la librería que, en los úlitmos tres
            años, experimentó un crecimiento importante gracias a la cantidad, calidad y por supuesto,
            la leal compañía de nuestros clientes.
            </p>
        </div>
    </div>
</div>


<div class="row" id="misionVision">
    <div class="mision d-inline">
        <h4 class="text-center" style="color: #FFF;">Misión</h4>
        <p class="text-center" style="color: #FFF;">Nuestro propósito es brindar la mejor calidad de
            libros, con la mayor variedad posible y para toda la comunidad.
        </p>
    </div>
    <div class="vision d-inline">
        <h4 class="text-center" style="color: #FFF;">Visión</h4>
        <p class="text-center" style="color: #FFF;">Nuestra visión es ser un lugar en donde la comunidad
            pueda compartir su creatividad e ideas, aportando a la cultura y educando a todas las generaciones.
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="ubicacion d-inline" id="ubicacion">
        <i class="fas fa-map-marker-alt fa-5x d-flex justify-content-center"></i>
        <h2 class="d-flex justify-content-center">Ubicación Casa Central</h2>
        <p class="text-center" style="font-family: 'Noto Sans'; text-decoration: underline;">Av. Millán 1010</p>
        <div class="mapa d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d818.2704487432335!2d-56.14848737079447!3d-34.87929229858738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80f1d7783c0d%3A0xfb5807d15ca4c30!2sRuta%208%2C%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1632331974640!5m2!1ses-419!2suy" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>