<div class="container-fluid">
    <div class="informacionSuscripcion">
        <p class="text-center">¡Suscribite para recibir las últimas noticias!</p>
        <br>
        <form class="d-flex justify-content-center">
            <input type="email" placeholder="Ingresá tu email" class="form-control">
            <button type="submit">Suscribirme</button>
        </form>
    </div>

    <div class="logo d-flex justify-content-center">
        <img src="../../../assets/logos/libreriaOtro.png">
    </div>
</div>