.card {
    margin: 1rem 0 2rem 2rem;
    border: none;
}

form div label {
    font-family: 'Noto Sans';
    font-size: 18px;
    margin: 10px 0 0 10px;
}

form div input {
    width: 350px;
    margin: 5px 0 5px 10px;
    border-radius: 0;
    box-shadow: none;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 10px 10px;
}

.buscar {
    font-family: 'Noto Sans';
    width: 100px;
    height: 35px;
    border-radius: 4px;
    border: none;
    color: #FFF;
    background-color: #009026;
    transition: 0.3s;
}

.buscar:hover {
    background-color: #005818;
}

.limpiar {
    font-family: 'Noto Sans';
    width: 100px;
    height: 35px;
    border-radius: 4px;
    border: none;
    color: #FFF;
    background-color: #C10000;
    transition: 0.3s;
}

.limpiar:hover {
    background-color: #6C0000;
}

/* Tarjetas */

.precioAdd {
    display: flex;
    justify-content: space-between;
}

.col {
    margin: 1rem 0 0 0;
}

#tarjeta {
    font-family: 'Noto Sans';
    width: 12rem;
}

#plus {
    color: green;
    position: relative;
    top: 7px;
}

#plus:hover {
    cursor: pointer;
}