<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="bestSeller">
                <div class="card">
                    <div class="card-header">Más vendido este mes</div>
                    <img src="../../../assets/libro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">Los mitos griegos</div>
                        <div class="card-text">Robert Graves</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container mt-3">
                <hr>
                <h3 class="text-center" id="novedades" style="font-family: 'Noto Sans'; font-weight: 500;">Novedades</h3>
                <div class="tarjetas">
                    <div class="card" *ngFor="let libro of librosNovedades">
                        <input type="text" hidden value="{{libro.id}}">
                        <img src="{{libro.volumeInfo.imageLinks.thumbnail}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="card-title">{{libro.volumeInfo.title}}</div>
                            <div class="card-text">{{libro.volumeInfo.authors || 'Juan Pérez' }}</div>
                            <div class="precioPlus d-flex justify-content-between">
                                <p><strong>Precio: {{libro.volumeInfo.pageCount || 100 | currency}}</strong></p>
                                <a (click)="pasarValor(libro)"><i class="fas fa-plus fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>